body{
	font-family: 'Roboto', sans-serif;
}
*{
	padding: 0;
	margin:0; 	
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
header{
	background:url(img/tour2.jpg) no-repeat center top;
	background-size: 100% 950px;
	height: 670px;
	padding: 30px 0 250px 0 ;}

.header-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;}

.header-container a{
	color: white;
	margin-right: 40px;
	font-size: 20px;
	padding: 20px 6px;}

.main-menu{
	padding-top: 15px;
}

#menu-checkbox{
	display: none;}

.header-container a:hover{
	background: #643a79;}
	
.block1name{
	font-size: 72px;
	color: white;
	text-align: center;
	padding-top: 50px;
	font-style: bold; 
}
.block2name{
	font-size: 30px;
	color: white;
	text-align: center;
	padding-top: 20px;
	font-style: bold;

}

.button1 {
	width: 350px;
	border-style: solid;
	border-width: 3px;
	border-radius: 39px;
    border-color: white;
	margin: 120px auto 0 auto;
}
.button12 {	
	width: 350px;
	height: 70px;
	background: #f7ffa3;
	border-color: white ;
	border-radius: 30px;
	box-shadow: 0 0 5px 5px;
	font-size: 35px;
	color: #6bd5ff;
	font-weight: bold;
	text-transform: uppercase;
}

.button12:hover{
background: #11ff00;
border-color: black;
box-shadow: 0 0 15px 15px;
color:white;}

ul{
display: flex;}
nav {
margin-bottom:30px;}

@media screen and (max-width:725px){
.header-container{
	width:100%;
	display:flex;
	justify-content: space-around;}
.main-menu{
	display: none;}

.main-menu li{
	width: 100%;
	display: block;
	font-size: 12px;
}
.main-menu a{
	display: block;
	padding: 8px;
}
.toggle-button{
	text-align: center;
	display: block;
	cursor: pointer;
	color: white;
	margin-top: 20px;
}
.toggle-button:after{
	content: attr(data-open);
	display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
content: attr(data-close);
}
.header-container a{margin-right:-63px; 
}
.main-menu{
	position: relative;
	top: 38px;
	right: 115px;}
.block1name{
	font-size: 15px;
}
}
/*Блок 2 версия 2*/

.slide2{
	background-color: #dbf8ff;
	padding-top: 100px;
	padding-bottom: 85px;
	color:black;
	height: 800px;}
.slide2 h1{
	font-size: 50px;
	text-align: center;
	padding-bottom: 30px;}
.slide2 p{
	font-size: 30px;
	text-align: center;
	padding-bottom: 45px;}

.container1 {
	width: 50%;
	margin:0 auto;
	/*border:1px solid;*/
	padding-bottom: 0px;}

.picture1{
	width:70px; 
	height:70px;}

.block1text{
	font-size: 20px;
	font-weight: bold;
	padding-top:25px;
	padding-left: 20px;}

.block1{
	margin-top: 30px; 
	display: flex;}

.button2 {
	width: 350px;
	border-style: solid;
	border-width: 3px;
	border-radius: 39px;
    border-color: #47f0ff;
	margin: 40px auto 0 auto;
}
.button21 {	
	width: 350px;
	height: 70px;
	background: #47f0ff;
	border-color: #47f0ff ;
	border-radius: 30px;
	box-shadow: 0 0 5px 5px #BDD6DC;
	font-size: 35px;
	color: black;
	font-weight: bold;
	text-transform: uppercase;}

.button21:hover{
background: #11ff00;
border-color: black;
box-shadow: 0 0 15px 15px;
color:white;}






/*Блок 3 версия 2*/

.slide3{
	background-color: #e7f1f8;
	padding-top: 100px;
}
.slide3 h1{
	font-size: 25px;
	color: black;
	text-align: center;
	padding-bottom: 30px;
}
.slide3 p{
	font-size: 15px;
	color: black;
	text-align: center;
	padding-bottom: 45px;
}
.blockcontainer1 {
	width: 80%;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
	/*border:1px solid;*/
	padding-bottom: 100px;
}
.blockcontainer1 h2{
	color:white;
}
.slide1-block1{
	/*border:1px solid;*/

}
.picture-block2{
	width: 210px;
	height: 210px;
	text-align: center;
}
.block2-text {
	/*border:1px solid;*/
	text-align: center;
	padding-top:25px;
}
.block2-text h2{
	color:black;
}
.block2-text h3{
	color:#97d5ef;
	padding:5px;
	font-weight: bold;
	font-size: 20px;
}
.block2-text p{
	padding-top:10px;
	padding-bottom:0px;
	color:black;
}
.icon-block{
	width: 70%;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
	padding-top: 25px;

}

/*Блок 4 */


.slide4{
	background-color: white;
	padding-top: 100px;
}
.slide4 h1{
	font-size: 25px;
	color: black;
	text-align: center;
	padding-bottom: 30px;
}
.slide4 p{
	font-size: 15px;
	color: black;
	text-align: center;
	padding-bottom: 45px;
}
